<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.mapper.WorkItemMapper">
	
	<resultMap type="com.liteworkflow.engine.entity.WorkItem" id="WorkItemMap">
		<id property="id" column="id" />
		<result property="processId" column="process_Id" />
		<result property="orderId" column="order_Id" />
		<result property="taskId" column="task_Id" />
		<result property="processName" column="process_Name" />
		<result property="instanceUrl" column="instance_Url" />
		<result property="parentId" column="parent_Id" />
		<result property="creator" column="creator" />
		<result property="orderCreateTime" column="order_Create_Time" />
		<result property="orderEndTime" column="order_End_Time" />
		<result property="orderExpireTime" column="order_Expire_Time" />
		<result property="orderNo" column="order_No" />
		<result property="orderVariable" column="order_Variable" />
		<result property="taskName" column="task_Name" />
		<result property="taskKey" column="task_Key" />
		<result property="performType" column="perform_Type" />
		<result property="taskType" column="task_Type" />
		<result property="taskState" column="task_State" />
		<result property="taskCreateTime" column="task_Create_Time" />
		<result property="taskEndTime" column="task_End_Time" />
		<result property="taskExpireTime" column="task_Expire_Time" />
		<result property="taskVariable" column="task_Variable" />
		<result property="operator" column="operator" />
		<result property="actionUrl" column="action_Url" />
	</resultMap>
    
	<select id="countTotal" resultType="Long">
		select count(distinct t.id)
		from wf_task t
		left join wf_order o on t.order_id = o.id
		left join wf_task_actor ta on ta.task_id=t.id
		left join wf_process p on p.id = o.process_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                ta.actor_Id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.processId != null">
                and o.process_Id = #{request.processId}
       		</if>
       		<if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_Name like #{pattern} 
			</if>
			<if test="request.parentId != null">
                and o.parent_Id = #{request.parentId}
       		</if>
			<if test="request.orderId != null">
                and t.order_id = #{request.orderId}
       		</if>
       		<if test="request.names != null and request.names.length != 0">
                and t.task_Name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.taskType != null">
                and t.task_Type = #{request.taskType}
       		</if>
       		<if test="request.performType != null">
                and t.perform_Type = #{request.performType}
       		</if>
            <if test="request.createTimeStart != null">
                and t.create_Time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and t.create_Time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="WorkItemMap">
		select distinct o.process_Id, t.order_Id, t.id as id, t.id as task_Id, p.display_Name as process_Name, p.instance_Url, o.parent_Id, o.creator,
		o.create_Time as order_Create_Time, o.expire_Time as order_Expire_Time, o.order_No, o.variable as order_Variable,
		t.display_Name as task_Name, t.task_Name as task_Key, t.task_Type, t.perform_Type, t.operator, t.action_Url,
		t.create_Time as task_Create_Time, t.finish_Time as task_End_Time, t.expire_Time as task_Expire_Time, t.variable as task_Variable
		from wf_task t
		left join wf_order o on t.order_id = o.id
		left join wf_task_actor ta on ta.task_id=t.id
		left join wf_process p on p.id = o.process_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                ta.actor_Id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.processId != null">
                and o.process_Id = #{request.processId}
       		</if>
       		<if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_Name like #{pattern} 
			</if>
			<if test="request.parentId != null">
                and o.parent_Id = #{request.parentId}
       		</if>
			<if test="request.orderId != null">
                and t.order_id = #{request.orderId}
       		</if>
       		<if test="request.names != null and request.names.length != 0">
                and t.task_Name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.taskType != null">
                and t.task_Type = #{request.taskType}
       		</if>
       		<if test="request.performType != null">
                and t.perform_Type = #{request.performType}
       		</if>
            <if test="request.createTimeStart != null">
                and t.create_Time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and t.create_Time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
		order by #{request.orderBy} #{request.order}
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
	<select id="countHistory" resultType="Long">
		select count(distinct t.id)
		from wf_hist_task t 
		left join wf_hist_order o on t.order_id = o.id
		left join wf_hist_task_actor ta on ta.task_id=t.id
		left join wf_process p on p.id = o.process_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                ta.actor_Id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.processId != null">
                and o.process_Id = #{request.processId}
       		</if>
       		<if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_Name like #{pattern} 
			</if>
			<if test="request.parentId != null">
                and o.parent_Id = #{request.parentId}
       		</if>
			<if test="request.orderId != null">
                and t.order_id = #{request.orderId}
       		</if>
       		<if test="request.names != null and request.names.length != 0">
                and t.task_Name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.taskType != null">
                and t.task_Type = #{request.taskType}
       		</if>
       		<if test="request.performType != null">
                and t.perform_Type = #{request.performType}
       		</if>
            <if test="request.createTimeStart != null">
                and t.create_Time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and t.create_Time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
	</select>
	
	<select id="findHistory" parameterType="java.util.Map" resultMap="WorkItemMap">
		select distinct o.process_Id, t.order_Id, t.id as id, t.id as task_Id, p.display_Name as process_Name, p.instance_Url, o.parent_Id, o.creator,
		o.create_Time as order_Create_Time, o.expire_Time as order_Expire_Time, o.order_No, o.variable as order_Variable,
		t.display_Name as task_Name, t.task_Name as task_Key, t.task_Type, t.perform_Type,t.operator, t.action_Url,
		t.create_Time as task_Create_Time, t.finish_Time as task_End_Time, t.expire_Time as task_Expire_Time, t.variable as task_Variable
		from wf_hist_task t 
		left join wf_hist_order o on t.order_id = o.id
		left join wf_hist_task_actor ta on ta.task_id=t.id
		left join wf_process p on p.id = o.process_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                ta.actor_Id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.processId != null">
                and o.process_Id = #{request.processId}
       		</if>
       		<if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_Name like #{pattern} 
			</if>
			<if test="request.parentId != null">
                and o.parent_Id = #{request.parentId}
       		</if>
			<if test="request.orderId != null">
                and t.order_id = #{request.orderId}
       		</if>
       		<if test="request.names != null and request.names.length != 0">
                and t.task_Name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.taskType != null">
                and t.task_Type = #{request.taskType}
       		</if>
       		<if test="request.performType != null">
                and t.perform_Type = #{request.performType}
       		</if>
            <if test="request.createTimeStart != null">
                and t.create_Time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and t.create_Time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
		order by #{request.orderBy} #{request.order}
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>