<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snaker.engine.mapper.TaskActorMapper">
	
	<resultMap type="org.snaker.engine.entity.TaskActor" id="TaskActorMap">
		<result property="taskId" column="task_Id" />
		<result property="actorId" column="actor_Id" />
	</resultMap>
	
	<insert id="save">
		insert into wf_task_actor (task_Id, actor_Id)
		values (#{taskId}, #{actorId})
	</insert>
	
	<delete id="delete">
		delete from wf_task_actor where task_Id = #{taskId} and actor_Id = #{actorId}
	</delete>
	
	<delete id="deleteByTaskId">
		delete from wf_task_actor where task_Id = #{taskId}
	</delete>
	
	<select id="getTaskActorsByTaskId" parameterType="java.util.Map" resultMap="TaskActorMap">
		select task_Id, actor_Id from wf_task_actor 
		where task_Id = #{taskId}
	</select>
	
</mapper>