<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.mapper.HistoricProcessInstanceMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.entity.HistoricProcessInstance" id="HistoricProcessInstanceMap">
		<id property="id" column="id" />
		<result property="parentId" column="parent_id" />
		<result property="processDefinitionId" column="process_def_id" />
		<result property="businessKey" column="business_key" />
		<result property="state" column="state" />
		<result property="priority" column="priority" />
		<result property="variable" column="variable" />
		<result property="endTime" column="end_time" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<sql id="Column_List">
        id, parent_id, process_def_id, business_key, state, priority, variable, end_time, creator, create_time
    </sql>

    <insert id="save">
        insert into wf_historic_process_instance (id, parent_id, process_def_id, business_key, state, priority, variable,
        end_time, creator, create_time)
        values (#{id}, #{parentId}, #{processDefinitionId}, #{businessKey}, #{state}, #{priority}, #{variable},
        #{endTime}, #{creator}, #{createTime})
    </insert>
	
	<update id="update">
        update wf_historic_process_instance 
        set state = #{state}, 
        variable = #{variable}, 
        end_time = #{endTime}
        where id = #{id} 
	</update>
		
	<delete id="delete">
		delete from wf_historic_process_instance where id = #{id}
	</delete>
	
	<select id="findById" parameterType="java.util.Map" resultMap="HistoricProcessInstanceMap">
		select <include refid="Column_List"/>
        from wf_historic_process_instance
		where id = #{id}
	</select>
	
	<select id="findIdsByProcessDefinitionId" parameterType="java.util.Map" resultMap="HistoricProcessInstanceMap">
		select <include refid="Column_List"/>
        from wf_historic_process_instance
		where process_def_id = #{processDefinitionId}
	</select>
	
	<select id="countTotal" resultType="Long">
		select count(o.id) from wf_historic_process_instance o left join wf_process_definition p on p.id = o.process_def_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                o.creator in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.names != null and request.names.length != 0">
                and p.name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.processDefinitionId != null">
                and o.process_def_id = #{request.processDefinitionId}
       		</if>
			<if test="request.category != null">
                and p.category = #{request.category}
       		</if>
            <if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_name like #{pattern} 
			</if>
       		<if test="request.state != null">
                and o.state = #{request.state}
       		</if>
            <if test="request.startTime != null">
                and o.create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and o.create_time &lt;= #{request.endTime}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="HistoricProcessInstanceMap">
		select o.id, o.parent_id, o.process_def_id, o.business_key, o.state, o.priority, o.variable, 
		o.end_time, o.creator, o.create_time
		from wf_historic_process_instance o left join wf_process_definition p on p.id = o.process_def_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                o.creator in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.names != null and request.names.length != 0">
                and p.name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.processDefinitionId != null">
                and o.process_def_id = #{request.processDefinitionId}
       		</if>
			<if test="request.category != null">
                and p.category = #{request.category}
       		</if>
            <if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_name like #{pattern} 
			</if>
       		<if test="request.state != null">
                and o.state = #{request.state}
       		</if>
            <if test="request.startTime != null">
                and o.create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and o.create_time &lt;= #{request.endTime}
       		</if>
		</where>
		<if test="request.sortString != null">
            order by #{request.sortString}
   		</if>
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>