<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.mapper.HistoricProcessInstanceMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.entity.HistoricProcessInstance" id="HistoricProcessInstanceMap">
		<id property="id" column="id" />
		<result property="processId" column="process_id" />
		<result property="state" column="state" />
		<result property="priority" column="priority" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_time" />
		<result property="endTime" column="end_time" />
		<result property="parentId" column="parent_id" />
		<result property="expireTime" column="expire_time" />
		<result property="variable" column="variable" />
	</resultMap>
	
	<insert id="save">
		insert into wf_historic_process_instance (id, process_id, state, creator, create_time, end_time, parent_id, expire_time,
		variable)
		values (#{id}, #{processId}, #{state}, #{creator}, #{createTime}, #{endTime}, #{parentId}, #{expireTime}, 
		#{variable})
	</insert>
	
	<update id="update">
        update wf_historic_process_instance 
        set state = #{state}, 
        end_time = #{endTime}, 
        variable = #{variable} 
        where id = #{id} 
	</update>
		
	<delete id="delete">
		delete from wf_historic_process_instance where id = #{id}
	</delete>
	
	<select id="getHistoricInstance" parameterType="java.util.Map" resultMap="HistoricProcessInstanceMap">
		select o.id, o.process_id, o.state, o.priority, o.creator, o.create_time, o.end_time, o.parent_id, 
		o.expire_time, o.variable 
		from wf_historic_process_instance o 
		where id = #{instanceId}
	</select>
	
	<select id="countTotal" resultType="Long">
		select count(o.id) from wf_historic_process_instance o left join wf_process_definition p on p.id = o.process_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                o.creator in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.names != null and request.names.length != 0">
                and p.name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.processId != null">
                and o.process_id = #{request.processId}
       		</if>
			<if test="request.processType != null">
                and p.type = #{request.processType}
       		</if>
            <if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_name like #{pattern} 
			</if>
			<if test="request.parentId != null">
                and o.parent_id = #{request.parentId}
       		</if>
       		<if test="request.state != null">
                and o.state = #{request.state}
       		</if>
            <if test="request.createTimeStart != null">
                and o.create_time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and o.create_time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="HistoricProcessInstanceMap">
		select o.id, o.process_id, o.state, o.priority, o.creator, o.create_time, o.end_time, o.parent_id,
		o.expire_time, o.variable 
		from wf_historic_process_instance o left join wf_process_definition p on p.id = o.process_id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                o.creator in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.names != null and request.names.length != 0">
                and p.name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.processId != null">
                and o.process_id = #{request.processId}
       		</if>
			<if test="request.processType != null">
                and p.type = #{request.processType}
       		</if>
            <if test="request.displayName != null">
				<bind name="pattern" value="'%' + request.displayName + '%'" />
				and p.display_name like #{pattern} 
			</if>
			<if test="request.parentId != null">
                and o.parent_id = #{request.parentId}
       		</if>
       		<if test="request.state != null">
                and o.state = #{request.state}
       		</if>
            <if test="request.createTimeStart != null">
                and o.create_time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and o.create_time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
		<if test="request.sortString != null">
            order by #{request.sortString}
   		</if>
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>