<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.mapper.HistoricTaskMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.entity.HistoricTask" id="HistoricTaskMap">
		<id property="id" column="id" />
		<result property="instanceId" column="instance_id" />
		<result property="taskName" column="task_name" />
		<result property="displayName" column="display_name" />
		<result property="taskType" column="task_type" />
		<result property="performType" column="perform_type" />
		<result property="taskState" column="task_state" />
		<result property="operator" column="operator" />
		<result property="createTime" column="create_time" />
		<result property="finishTime" column="finish_Time" />
		<result property="expireTime" column="expire_time" />
		<result property="actionUrl" column="action_url" />
		<result property="parentTaskId" column="parent_task_id" />
		<result property="variable" column="variable" />
	</resultMap>
	
	<insert id="save">
		insert into wf_historic_task (id, instance_id, task_name, display_name, task_type, perform_type, task_state,
		operator, create_time, finish_Time, expire_time, action_url, parent_task_id, variable) 
		values(#{id}, #{instanceId}, #{taskName}, #{displayName}, #{taskType}, #{performType}, #{taskState}, 
		#{operator}, #{createTime}, #{finishTime}, #{expireTime}, #{actionUrl}, #{parentTaskId}, #{variable})
	</insert>
		
	<delete id="delete">
		delete from wf_historic_task where id = #{id}
	</delete>
	
	<select id="findById" parameterType="java.util.Map" resultMap="HistoricTaskMap">
		select id, instance_id, task_name, display_name, task_type, perform_type, task_state, operator, create_time,
		finish_Time, expire_time, action_url, parent_task_id, variable 
		from wf_historic_task
		where id = #{id}
	</select>
	
	<select id="findByInstanceId" parameterType="java.util.Map" resultMap="HistoricTaskMap">
		select id, instance_id, task_name, display_name, task_type, perform_type, task_state, operator, create_time,
		finish_Time, expire_time, action_url, parent_task_id, variable 
		from wf_historic_task
		where instance_id = #{instanceId}
	</select>
	
	<select id="findList" parameterType="java.util.Map" resultMap="HistoricTaskMap">
		select id, instance_id, task_name, display_name, task_type, perform_type, task_state, operator, create_time,
		finish_Time, expire_time, action_url, parent_task_id, variable 
		from wf_historic_task
		<where>
			<if test="instanceId != null">
                instance_id = #{instanceId}
       		</if>
            <if test="names != null and names.length != 0">
                and task_name in
                <foreach collection="names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
       		</if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
       		</if>
		</where>
		<if test="sortString != null">
            order by #{sortString}
   		</if>
	</select>
	
</mapper>