<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.mapper.ProcessInstanceMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.entity.ProcessInstance" id="ProcessInstanceMap">
		<id property="id" column="id" />
		<result property="parentId" column="parent_id" />
		<result property="processDefinitionId" column="process_def_id" />
		<result property="priority" column="priority" />
		<result property="parentNodeName" column="parent_node_name" />
		<result property="variable" column="variable" />
		<result property="revision" column="revision" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<insert id="save">
		insert into wf_process_instance (id, parent_id, process_def_id, priority, parent_node_name, variable, 
		revision, creator, create_time)
		values (#{id}, #{parentId}, #{processDefinitionId}, #{priority}, #{parentNodeName}, #{variable}, 
		#{revision}, #{creator}, #{createTime})
	</insert>
	
	<update id="update">
        update wf_process_instance 
        set variable = #{variable},  
        revision = revision + 1 
        where id = #{id} and revision = #{revision} 
	</update>
		
	<delete id="delete">
		delete from wf_process_instance where id = #{id}
	</delete>
		
	<select id="findById" parameterType="java.util.Map" resultMap="ProcessInstanceMap">
		select id, parent_id, process_def_id, priority, parent_node_name, variable, revision, creator, 
		create_time
		from wf_process_instance
		where id = #{id}
	</select>
		
	<select id="findByParentId" parameterType="java.util.Map" resultMap="ProcessInstanceMap">
		select id, parent_id, process_def_id, priority, parent_node_name, variable, revision, creator, 
		create_time
		from wf_process_instance
		where parent_id = #{parentId}
	</select>

	<select id="countTotal" resultType="Long">
		select count(id) from wf_process_instance
		<where>
            <if test="request.processDefinitionId != null">
                process_def_id = #{request.processDefinitionId}
       		</if>
       		<if test="request.operators != null and request.operators.length != 0">
                and creator in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.startTime != null">
                and create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and create_time &lt;= #{request.endTime}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="ProcessInstanceMap">
		select id, parent_id, process_def_id, priority, parent_node_name, variable, revision, creator, 
		create_time
		from wf_process_instance
		<where>
            <if test="request.processDefinitionId != null">
                process_def_id = #{request.processDefinitionId}
       		</if>
       		<if test="request.operators != null and request.operators.length != 0">
                and creator in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.startTime != null">
                and create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and create_time &lt;= #{request.endTime}
       		</if>
		</where>
		<if test="request.sortString != null">
            order by #{request.sortString}
   		</if>
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>