<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.mapper.ProcessInstanceMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.entity.ProcessInstance" id="ProcessInstanceMap">
		<id property="id" column="id" />
		<result property="parentId" column="parent_id" />
		<result property="processDefinitionId" column="process_def_id" />
		<result property="businessKey" column="business_key" />
		<result property="priority" column="priority" />
		<result property="parentNodeName" column="parent_node_name" />
		<result property="variable" column="variable" />
		<result property="revision" column="revision" />
		<result property="initiator" column="initiator" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<sql id="Column_List">
        id, parent_id, process_def_id, business_key, priority, parent_node_name, variable, revision, initiator,
        create_time
    </sql>
    
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into wf_process_instance (parent_id, process_def_id, business_key, priority, parent_node_name, 
		variable, revision, initiator, create_time)
		values (#{parentId}, #{processDefinitionId}, #{businessKey}, #{priority}, #{parentNodeName}, 
		#{variable}, #{revision}, #{initiator}, #{createTime})
	</insert>
	
	<update id="update">
        update wf_process_instance 
        set variable = #{variable},  
        revision = revision + 1 
        where id = #{id} and revision = #{revision} 
	</update>
		
	<delete id="delete">
		delete from wf_process_instance where id = #{id}
	</delete>
		
	<select id="findById" parameterType="java.util.Map" resultMap="ProcessInstanceMap">
		select <include refid="Column_List"/>
		from wf_process_instance
		where id = #{id}
	</select>
		
	<select id="findByParentId" parameterType="java.util.Map" resultMap="ProcessInstanceMap">
		select <include refid="Column_List"/>
		from wf_process_instance
		where parent_id = #{parentId}
	</select>

	<select id="countTotal" resultType="Long">
		select count(id) from wf_process_instance
		<where>
            <if test="request.processDefinitionId != null">
                process_def_id = #{request.processDefinitionId}
       		</if>
       		<if test="request.initiator != null">
                initiator = #{request.initiator}
       		</if>
            <if test="request.startTime != null">
                and create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and create_time &lt;= #{request.endTime}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="ProcessInstanceMap">
		select <include refid="Column_List"/>
		from wf_process_instance
		<where>
            <if test="request.processDefinitionId != null">
                process_def_id = #{request.processDefinitionId}
       		</if>
            <if test="request.initiator != null">
                initiator = #{request.initiator}
       		</if>
            <if test="request.startTime != null">
                and create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and create_time &lt;= #{request.endTime}
       		</if>
		</where>
		<if test="request.sortString != null">
            order by #{request.sortString}
   		</if>
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>