<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.mapper.TaskMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.entity.Task" id="TaskMap">
		<id property="id" column="id" />
		<result property="instanceId" column="instance_id" />
		<result property="taskName" column="task_name" />
		<result property="displayName" column="display_name" />
		<result property="taskType" column="task_type" />
		<result property="performType" column="perform_type" />
		<result property="operator" column="operator" />
		<result property="createTime" column="create_time" />
		<result property="finishTime" column="finish_Time" />
		<result property="expireTime" column="expire_time" />
		<result property="actionUrl" column="action_url" />
		<result property="parentTaskId" column="parent_task_id" />
		<result property="variable" column="variable" />
		<result property="revision" column="revision" />
	</resultMap>
	
	<insert id="save">
		insert into wf_task (id, instance_id, task_name, display_name, task_type, perform_type, operator, create_time,
		finish_Time, expire_time, action_url, parent_task_id, variable, revision)
		values (#{id}, #{instanceId}, #{taskName}, #{displayName}, #{taskType}, #{performType}, #{operator}, #{createTime}, 
		#{finishTime}, #{expireTime}, #{actionUrl}, #{parentTaskId}, #{variable}, #{revision})
	</insert>
	
	<update id="update">
        update wf_task 
        set finish_Time= #{finishTime}, 
        operator= #{operator}, 
        variable= #{variable}, 
        expire_time= #{expireTime}, 
        action_url= #{actionUrl}, 
        revision = revision + 1 
        where id = #{id} and revision = #{revision}
	</update>
	
	<delete id="delete">
		delete from wf_task where id = #{id}
	</delete>
		
	<select id="getTask" parameterType="java.util.Map" resultMap="TaskMap">
		select id, instance_id, task_name, display_name, task_type, perform_type, operator, create_time, finish_Time,
		expire_time, action_url, parent_task_id, variable, revision
		from wf_task
		where id = #{taskId}
	</select>
		
	<select id="getNextActiveTasks" parameterType="java.util.Map" resultMap="TaskMap">
		select id, instance_id, task_name, display_name, task_type, perform_type, operator, create_time, finish_Time,
		expire_time, action_url, parent_task_id, variable, revision
		from wf_task
		where parent_task_id = #{parentTaskId}
	</select>
		
	<select id="getNextActiveTaskList" parameterType="java.util.Map" resultMap="TaskMap">
		select id, instance_id, task_name, display_name, task_type, perform_type, operator, create_time, finish_Time,
		expire_time, action_url, parent_task_id, variable, revision
		from wf_task
		where parent_task_id in ( select ht.id from wf_historic_task ht where ht.instance_id = #{instanceId} and ht.task_name = #{taskName} and ht.parent_task_id = #{parentTaskId} )
	</select>
	
	<select id="countTotal" resultType="Long">
		select count(id) from wf_task 
		<if test="request.operators != null and request.operators.length != 0">
			left join wf_task_actor ta on ta.task_id = id
		</if>		
		<where>
			<if test="request.instanceId != null">
                instance_id = #{request.instanceId}
       		</if>
       		<if test="request.excludedIds != null and request.excludedIds.length != 0">
                and id not in
                <foreach collection="request.excludedIds" item="excludedId" index="index" open="(" close=")" separator=",">
                    #{excludedId}
                </foreach>
            </if>
       		<if test="request.operators != null and request.operators.length != 0">
                and ta.actor_id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.names != null and request.names.length != 0">
                and task_name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.createTimeStart != null">
                and create_time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and create_time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="TaskMap">
		select id, instance_id, task_name, display_name, task_type, perform_type, operator, create_time, finish_Time,
		expire_time, action_url, parent_task_id, variable, revision 
		from wf_task 
		<if test="request.operators != null and request.operators.length != 0">
			left join wf_task_actor ta on ta.task_id = id
		</if>		
		<where>
			<if test="request.instanceId != null">
                instance_id = #{request.instanceId}
       		</if>
       		<if test="request.excludedIds != null and request.excludedIds.length != 0">
                and id not in
                <foreach collection="request.excludedIds" item="excludedId" index="index" open="(" close=")" separator=",">
                    #{excludedId}
                </foreach>
            </if>
       		<if test="request.operators != null and request.operators.length != 0">
                and ta.actor_id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.names != null and request.names.length != 0">
                and task_name in
                <foreach collection="request.names" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>
            <if test="request.createTimeStart != null">
                and create_time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and create_time &lt;= #{request.createTimeEnd}
       		</if>
		</where>
		<if test="request.sortString != null">
            order by #{request.sortString}
   		</if>
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>