<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.mapper.TaskMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.entity.Task" id="TaskMap">
		<id property="id" column="id" />
		<result property="processDefinitionId" column="process_def_id" />
		<result property="instanceId" column="instance_id" />
		<result property="taskDefinitionId" column="task_def_id" />
		<result property="displayName" column="display_name" />
		<result property="taskType" column="task_type" />
		<result property="performType" column="perform_type" />
		<result property="operator" column="operator" />
		<result property="createTime" column="create_time" />
		<result property="expireTime" column="expire_time" />
		<result property="parentTaskId" column="parent_task_id" />
		<result property="variable" column="variable" />
		<result property="revision" column="revision" />
	</resultMap>
	
	<insert id="save">
		insert into wf_task (id, process_def_id, instance_id, task_def_id, display_name, task_type, perform_type, operator, create_time,
		expire_time, parent_task_id, variable, revision)
		values (#{id}, #{processDefinitionId}, #{instanceId}, #{taskDefinitionId}, #{displayName}, #{taskType}, #{performType}, #{operator}, #{createTime}, 
		#{expireTime}, #{parentTaskId}, #{variable}, #{revision})
	</insert>
	
	<update id="update">
        update wf_task 
        set operator= #{operator}, 
        variable= #{variable}, 
        expire_time= #{expireTime}, 
        revision = revision + 1 
        where id = #{id} and revision = #{revision}
	</update>
	
	<delete id="delete">
		delete from wf_task where id = #{id}
	</delete>
		
	<select id="findById" parameterType="java.util.Map" resultMap="TaskMap">
		select id, process_def_id, instance_id, task_def_id, display_name, task_type, perform_type, operator, create_time,
		expire_time, parent_task_id, variable, revision
		from wf_task
		where id = #{id}
	</select>
	
	<select id="findByInstanceId" parameterType="java.util.Map" resultMap="TaskMap">
		select id, process_def_id, instance_id, task_def_id, display_name, task_type, perform_type, operator, create_time,
		expire_time, parent_task_id, variable, revision
		from wf_task
		where instance_id = #{instanceId}
	</select>
		
	<select id="countTotal" resultType="Long">
		select count(id) from wf_task 
		<where>
			<if test="request.instanceId != null">
                instance_id = #{request.instanceId}
       		</if>
            <if test="request.taskDefinitionId != null">
                task_def_id = #{request.taskDefinitionId}
            </if>
            <if test="request.startTime != null">
                and create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and create_time &lt;= #{request.endTime}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="TaskMap">
		select id, process_def_id, instance_id, task_def_id, display_name, task_type, perform_type, operator, create_time,
		expire_time, parent_task_id, variable, revision
		from wf_task
		<where>
			<if test="request.instanceId != null">
                instance_id = #{request.instanceId}
       		</if>
            <if test="request.taskDefinitionId != null">
                task_def_id = #{request.taskDefinitionId}
            </if>
            <if test="request.startTime != null">
                and create_time &gt;= #{request.startTime}
       		</if>
            <if test="request.endTime != null">
                and create_time &lt;= #{request.endTime}
       		</if>
		</where>
		<if test="request.sortString != null">
            order by #{request.sortString}
   		</if>
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>