<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteworkflow.engine.persistence.order.mapper.CCOrderMapper">
	
	<resultMap type="com.liteworkflow.engine.persistence.order.entity.CCOrder" id="CCOrderMap">
		<result property="orderId" column="order_Id" />
		<result property="actorId" column="actor_Id" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_Time" />
		<result property="finishTime" column="finish_Time" />
		<result property="status" column="status" />
	</resultMap>
    
    <insert id="save">
		insert into wf_cc_order (order_Id, actor_Id, creator, create_Time, status)
		values (#{orderId}, #{actorId}, #{creator}, #{createTime}, #{status})
	</insert>
		
	<update id="update">
        update wf_cc_order 
        set status = #{status}, 
        finish_Time = #{finishTime} 
        where order_Id = #{orderId} and actor_Id = #{actorId}
	</update>
		
	<delete id="deleteCCOrder">
		delete from wf_cc_order where order_Id = #{orderId} and actor_Id = #{actorId}
	</delete>
	
	<select id="getHistOrder" parameterType="java.util.Map" resultMap="CCOrderMap">
		select order_Id, actor_Id, creator, create_Time, finish_Time, status 
		from wf_cc_order 
		<where>
			<if test="orderId != null">
                order_Id = #{orderId}
       		</if>
       		<if test="actorIds != null and actorIds.length != 0">
                and actor_Id in
                <foreach collection="actorIds" item="actorId" index="index" open="(" close=")" separator=",">
                    #{actorId}
                </foreach>
            </if>
		</where>
	</select>

	<select id="countTotal" resultType="Long">
		select count(id) from wf_cc_order cc left join wf_hist_order o on cc.order_id = o.id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                cc.actor_Id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.state != null">
                and cc.status = #{request.state}
       		</if>
            <if test="request.processId != null">
                and process_Id = #{request.processId}
       		</if>
			<if test="request.parentId != null">
                and parent_Id = #{request.parentId}
       		</if>
            <if test="request.createTimeStart != null">
                and cc.create_Time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and cc.create_Time &lt;= #{request.createTimeEnd}
       		</if>
       		<if test="request.orderNo != null">
                and order_No = #{request.orderNo}
       		</if>
		</where>
	</select>
	
	<select id="findPageData" parameterType="java.util.Map" resultMap="com.liteworkflow.engine.persistence.order.mapper.HistoricProcessInstanceMapper.HistoricProcessInstanceMap">
		select id, process_Id, order_State, priority, cc.creator, cc.create_Time, end_Time, parent_Id, expire_Time,
		order_No, variable
		from wf_cc_order cc left join wf_hist_order o on cc.order_id = o.id
		<where>
       		<if test="request.operators != null and request.operators.length != 0">
                cc.actor_Id in
                <foreach collection="request.operators" item="operator" index="index" open="(" close=")" separator=",">
                    #{operator}
                </foreach>
            </if>
            <if test="request.state != null">
                and cc.status = #{request.state}
       		</if>
            <if test="request.processId != null">
                and process_Id = #{request.processId}
       		</if>
			<if test="request.parentId != null">
                and parent_Id = #{request.parentId}
       		</if>
            <if test="request.createTimeStart != null">
                and cc.create_Time &gt;= #{request.createTimeStart}
       		</if>
            <if test="request.createTimeEnd != null">
                and cc.create_Time &lt;= #{request.createTimeEnd}
       		</if>
       		<if test="request.orderNo != null">
                and order_No = #{request.orderNo}
       		</if>
		</where>
		order by #{request.orderBy} #{request.order}
		limit #{rowOffset}, #{request.pageSize}
	</select>
	
</mapper>