<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>SnakerEngine配置 </description>
	
	<bean class="com.liteworkflow.engine.cfg.ProcessEngineFactoryBean">
		<property name="engineConfiguration" ref="engineConfiguration"/>
	</bean>
	
	<bean id="engineConfiguration" class="com.liteworkflow.engine.cfg.ProcessEngineConfigurationImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="databaseIdProvider" class="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
		<property name="properties">
		    <props>
		      	<prop key="MySQL">mysql</prop>
		    </props>
	  	</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  	<property name="dataSource" ref="dataSource" />
	  	<property name="databaseIdProvider" ref="databaseIdProvider"/>
	</bean>
	
</beans>